*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}#top{
    background-color: white;
}
#logo{
    width: 2rem;
}#headertop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(121, 121, 122) ;
    background-color: rgb(239, 243, 244);
   
   
}#headertop .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}#headertop #flag{
   width: 1.5rem;
}.flag{
    display: none;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}
.header{
    background-color:white;
    
    border-bottom:1px solid beige;
} .header .headerbottum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}.container{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: .6rem;
}#section1 span{
    font-size:2rem;
    
}
#section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;

}

.searchbox{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    background-color: aliceblue;
    width: 100%;
}#search{
    border: none;
    outline: none;
    padding: 0px 10px;
    background-color: aliceblue;
    
}#button{
    border:none;
    color:black;
    background-color: aliceblue;
    padding: .3rem;
    border: 1px ;
}.searchbutton{
  width: 40%;
  max-width: 540px;
}#button:hover{
    background-color: orange;
} .material-symbols-outlined{
    color: rgb(161, 165, 169);
    font-size: 30px;
    background-color: 243c64;
}.icon{
    gap: .2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}.notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}.notification .count{
    background-color: rgb(69, 240, 38);
    font-size: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content:center ;
   position: absolute;
   top: 0;
   right: 0;
   translate:25% -45% ;
}
.container button{
    background-color: greenyellow;
    display: none;
    flex-direction: row;
    align-items: center;
    border: 1px solid bisque;
    padding: 0.4rem 1rem;
}#alldepartment{
    color:white;
    font-weight:bold ;
}.material-symbols-outlined{
    font-size: 1.5rem;
}.linkes{
    display: none;
    flex-direction: row;
    align-items: center;
    gap: .5rem; 
}.linkes a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
}.container .alllinkes{
    display: flex;
    flex-direction: row;
    
    gap: .9rem;
}.linkes button{
    border: none;
    color: black;
    background-color:white;
    padding: 0;
}.linkes button :hover{
    color: rgb(105, 196, 21);
}
 
 
  

@media only screen and (min-width: 760px) {
    .flag{
        display: flex;
    }
}



@media only screen and (min-width: 960px) {
    .searchbox{
        display: flex;
    }
    #menu{
        display: none;
    }
    #headertop .container{
        justify-content: space-between;
    }
    .header button{
        display: flex;
    }
    .linkes{
        display: flex;
    }
    
} 
   
    @media only screen and (max-width: 960px) {
        .header{
            height: 72px;
        }
       
    }
  
   
   